html,
* {
  box-sizing: border-box;
  background-color: rgb(37, 38, 42);
  scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
  .HelloText {
    font-size: 60px !important;
  }
  .NavbarContainer {
    width: 45rem;
    gap: 5rem;
  }

  .NavBarImageandtextContainer {
    margin: none !important;
  }
  .PageLinksContainer {
    gap: 2rem !important;
  }
  .NavBarIcon {
    display: none;
  }
  .NavBarName {
    display: none;
  }
}
